
.container{
  width: 100vw;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
 
}

.slideshow-container2 {
  max-width: 700px;
  position: relative;

}


.face-canvas{
  position: relative;
    margin-top: 140px;
    margin-left: 50px;
    
}

/* Next & previous buttons */
.hairprev, .hairnext {
  cursor: pointer;
  position: absolute;
  width: auto;
 top: 10px;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.linerprev, .linernext {
  cursor: pointer;
  position: absolute;
  width: auto;
 top: 10px;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.linerredprev, .linerrednext {
  cursor: pointer;
  position: absolute;
  width: auto;
 top: 20px;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.hair-slider{
    width: 100%;
    height: 300px;
}
.hair-slider img{
  position: absolute;
  left: 50%;
  top: -150%;
  width: 500px;
  transform: translateX(-50%);
  }

.eyeliner-slider{
  width: 100%;
  height: 300px;
}

.eyeliner-slider img{
position: absolute;
left: 50%;
width: 500px;
transform: translateX(-50%);
top: -50%;
}

.eyelinerred-slider{
  width: 100%;
  height: 300px;
  
}

.eyelinerred-slider img{
position: absolute;
left: 50%;
width: 500px;
transform: translateX(-50%);
top: -50%;
}

.base{
  position: absolute;
  z-index: -1;
  left: 50%;
  width: 500px;
  top: -150%;
  transform: translateX(-50%);
}

.eyebrows{
  position: absolute;
  z-index: 0;
  left: 50%;
  width: 500px;
  top: -150%;
  transform: translateX(-50%);
}

.makeup-menu{
    width: 300px;
    background-color: aquamarine;
    position: absolute;
    top: 50px;
    left: 800px;
}

.draggable {
    touch-action: none;
    user-select: none;
    cursor: move;
    position: relative;
  }

.itemA{
    width: 50px;
    height: 50px;
    z-index: 1;

}