
.container{
  width: 100%vw;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
 
}

.slideshow-container2 {
  max-width: 700px;
  position: relative;
 

}


.face-canvas{
  position: relative;
    margin-left: 1%;
    
}

/* Next & previous buttons */
.hairprev, .hairnext {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 175px;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.linerprev, .linernext {
  cursor: pointer;
  position: absolute;
  width: auto;
 top: 300px;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.linerredprev, .linerrednext {
  cursor: pointer;
  position: absolute;
  width: auto;
 top: 300px;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.hair-slider{
    width: 100%;
    height: 300px;
}
.hair-slider img{
  position: absolute;
  left: 50%;
  top: -150%;
  width: 500px;
  transform: translateX(-50%);
  }

.eyeliner-slider{
  width: 100%;
  height: 300px;
}

.eyeliner-slider img{
position: absolute;
left: 50%;
width: 500px;
transform: translateX(-50%);
top: -50%;
}

.eyelinerred-slider{
  width: 100%;
  height: 300px;
  
}

.eyelinerred-slider img{
position: absolute;
left: 50%;
width: 500px;
transform: translateX(-50%);
top: -50%;
}



.drop-active {
  border-color: #aaa;
}

.base{
  position: absolute;
  z-index: -1;
  left: 50%;
  width: 500px;
  top: -150%;
  transform: translateX(-50%);
}

.eyebrows{
  position: absolute;
  z-index: 0;
  left: 50%;
  width: 500px;
  top: -150%;
  transform: translateX(-50%);
}

.dropzone2{
position: absolute;
width: 150px;
height: 75px;
top: 410px;
transform: translateX(-50%);
left: 50%;
}

.lips img{
  position: absolute;
  z-index: 0;
  left: 50%;
  width: 500px;
  top: -150%;
  transform: translateX(-50%);
}

.makeup-menu{
    width: 300px;
    position: absolute;
    top: 50px;
    left: 800px;
}

.dropzone{
  position: absolute;
  height: 60px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  top: 285px;
}

.draggable{
    touch-action: none;
    user-select: none;
    cursor: move;
    position: relative;
    z-index: 99999;
  }

.blackeyeliner{
    width: 50px;
    height: 50px;
    z-index: 3;

}

.redeyeliner{
  width: 50px;
  height: 50px;
  z-index: 3;

}

.redlipstick{
  width: 50px;
  height: 50px;
  z-index: 3;

}

.blacklipstick{
  width: 50px;
  height: 50px;
  z-index: 3;

}

.blacklipliner{
  width: 50px;
  height: 50px;
  z-index: 3;

}

.lipcombo{
  width: 50px;
  height: 50px;
  z-index: 3;

}

.remover{
  width: 50px;
  height: 50px;
  z-index: 3;

}
